Flask
Flask-Cors
flask-apispec
# Pin apispec as it's not compatible with the latest flask-apispec.
# See https://github.com/jmcarp/flask-apispec/issues/130
apispec == 0.39.0
raven[flask]
requests
py2neo==3.1.2
